.form {
  margin: 2rem;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}

.btn {
  border: none;
  font-size: 1.6rem;
  outline: none;
  background-color: #222;
  color: #efefef;
  padding: 0.75rem 1.5rem;
  margin-left: 2rem;
  border-radius: 0.33rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(34, 34, 34, 0.9);
}
