.left {
  flex: auto;
}

ul {
  list-style: none;
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

.loading {
  font-size: 3rem;
  text-align: center;
  grid-column: 1 / span 3;
}

.time {
  color: #ddd;
  grid-column: 2 / span 3;
  justify-self: center;
}

.feels-like {
  grid-column: 1;
  margin-left: -3rem;
}

.current-description {
  text-transform: capitalize;
}

.current-city {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-self: center;
  grid-column: 2 span / 4;
  /* margin-bottom: 1rem; */
}

/* Styling for the mini display can also be found in Minidisplay.module.css */
