.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: #333;
  text-align: center;
  /* transform: translateY(-100vh); */
}

.nav-list h3 {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 3px;
  border-bottom: 1px solid #efefef;
  padding: 4rem 0rem;
  margin: 5rem;
}

.nav-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  flex-grow: 1;
}

.nav-list ul li {
  font-size: 4.5rem;
  letter-spacing: 3px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav-list input {
  width: 100%;
}
