ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
}

li {
  display: inline-block;
  text-transform: capitalize;
  font-size: 3rem;
}

.previous-search__list--item {
  cursor: pointer;
  transition: color 250ms ease;
}

.previous-search__list--item:hover {
  color: #ddd;
}

.heading-previous {
  font-size: 3.5rem;
  font-weight: 400;
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
