.card {
  background-color: rgba(13, 17, 26, 0.631);
  padding: 5rem;
  border-radius: 3.5rem;
  max-width: 70rem;
  backdrop-filter: blur(0.5rem);
  margin-left: 20rem;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h2 {
  font-size: 10rem;
  font-weight: 400;
}

h1 {
  font-size: 5.5rem;
  font-weight: 400;
  align-self: center;
}

p {
  font-size: 2rem;
}
