.list {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}

.heading-current-weather {
  font-size: 3.5rem;
  font-weight: 400;
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 600px) {
  .heading-current-weather {
    display: none;
  }
}
