@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::root {
  --clr-midnight-neutral-200: #c1c8cf;
  --clr-midnight-primary-700: rgba(15, 42, 64, 0.97);
  --clr-midnight-primary-600: rgba(13, 17, 26, 0.631);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: var(--clr-midnight-neutral-200);
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 35%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 30%;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 25%;
  }
}

body {
  background-image: url('./assets/midnight-city.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.heading-secondary {
  font-size: 2.5rem;
  border-bottom: solid 1px #efefef;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
