*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-image: url('./assets/midnight-city.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}

.heading-secondary {
  font-size: 2.5rem;
  border-bottom: solid 1px #efefef;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
