.section__right {
  flex-basis: 40%;
  background-color: rgba(13, 17, 26, 0.631);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.section__right::-webkit-scrollbar {
  display: none;
}

.section__right-container {
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 2rem;
  height: 85vh;
}
